/* GENERAL */
html {
  scroll-behavior: smooth;
  font-family: "Caramel", cursive;
}
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  letter-spacing: 2px;
  color: #fff;
}
body {
  background-color: #e7b577;
}
.margin-bottom {
  margin-bottom: 3rem;
}

/* ***************************** */
/* NAV  */
.nav {
  display: flex;
  padding-top: 30px;
  text-align: center;
  justify-content: center;
  margin-right: 1em;
}
.title {
  border-right: 1px black solid;
  font-weight: 600;
  padding-right: 1rem;
  width: 100%;
  height: auto;
}
.subtitle {
  align-self: center;
  font-family: "Birthstone", cursive;
  font-size: calc(1vw + 1.4rem);
  font-weight: 600;
  color: #8d171e;
  padding-left: 1rem;
}
/* ************************************* */
/* Nav bar selezione pizze*/
.menu-bar {
  background-color: #e7b577;
  height: 100%;
  padding: 2px;
  font-size: calc(1vw + 2.4rem);
  font-weight: 600;
  padding: 0.5em;
  text-transform: capitalize;
  position: sticky;
  top: 0%;
}
.menu-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: -webkit-sticky;
  height: 2rem;
  padding-left: 0px;
}
.menu-li {
  list-style: none;
}
.menu-link {
  display: block;
  color: #343a40;
  text-decoration: none;
  padding: 0em;
  letter-spacing: 2px;
  position: relative;
}

.menu-link :visited,
.menu-link :link {
  color: #8d171e;
}
.menu-link :active,
.menu-link:hover {
  color: #8d171e;
  transition: all 0.3s;
}
/* menu underline animation */
.menu-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #8d171e;
  transform-origin: top right;
  transition: transform 0.25s ease-out;
}
.menu-link:hover::after {
  transform: scaleX(1);
  transform-origin: top left;
}

/* **************************** */
/* HERO */
/* **************************** */

.parent {
  display: grid;
  place-items: center;
  width: 100%;
  height: 55vh;
  /* resize: both;
  overflow: auto; */
  background-image: url("https://i.pinimg.com/750x/08/ab/96/08ab96330aabc6ee61118b84a817ddac.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.child {
  color: #fff;
  padding: 0.5rem;
  text-align: center;
  font-family: "Birthstone", cursive;
  text-transform: capitalize;
  font-size: calc(1vw + 3.4rem);
  font-weight: 500;
  padding-right: 1rem;
  letter-spacing: 2px;
}
.button {
  padding: 0.2em 0.5em;
  border: 4px solid #e1a255;
  transition: ease-in-out 0.3s;
  background-color: transparent;
  color: #e1a255;
  font-weight: bolder;
}

.button:hover {
  transform: scale(1.2) rotate(10deg);
  background-color: #8d171e;
  border: 4px solid #8d171e;
  color: #f3dabb;
  cursor: pointer;
}
/* *********************************** */
/* menu */
.menu-section {
  background-color: #f3dabb;
  width: 98%;
  margin-left: 1rem;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.nav-menu-p {
  font-family: "birthstone", cursive;
  font-size: calc(1vw + 3em);
  color: #343a40;
  text-transform: capitalize;
  font-weight: 400;
}
/* ******************************* */
.container {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: repeat(3, auto);
  background-color: #f3dabb;
}
.text-container {
  font-family: "Jim Nightshade", cursive;
  display: grid;
  align-items: center;
  gap: 1.5rem;
}
.left-side {
  color: #343a40;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
}
.title-menu {
  padding: 0;
  text-align: center;
  font-size: calc(1vw + 2.4em);
  background-color: #e1a255;
  letter-spacing: 3px;
}

#gustose {
  background-color: #9d2222;
}
#almetro {
  background-color: #e96f6f;
}
#bianche {
  background-color: #f9ecdd;
  color: #343a40;
}
.pizza-name {
  color: #343a40;
  font-family: "Birthstone", cursive;
  font-size: calc(1vw + 1.9em);
  font-weight: 600;
  list-style: none;
  text-align: center;
}
.ingridients {
  color: #000;
  font-weight: 400;
  font-family: sans-serif;
  text-align: center;
  font-size: calc(1vw + 0.8em);
}
.price {
  text-align: center;
  font-weight: 800;
  color: #343a40;
}
.right-side {
  background-color: #f3dabb;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
}

/* ********************************** */
/* footer  */

.footer-section {
  font-family: sans-serif;
  background-color: #343a40;
  color: #f0daca;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.foot-title {
  font-size: 1rem;
  color: #fca562;
}
.foot-p {
  color: #f0daca;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.icon-foot {
  color: #f0daca;
  font-size: 32px;
  min-width: 3rem;
}

.foot-terms-link:link,
.foot-terms-link:visited {
  font-size: 0.5rem;
  font-weight: 300;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}
.foot-terms-link:hover,
.foot-terms-link:active {
  background-color: transparent;
  text-decoration: none;
}
.copyright {
  font-size: 0.5rem;
  font-weight: 300;
}
.vl {
  border-left: 1px solid #343a40;
  height: 100%;
}
.red-i {
  color: #000;
}
/* <!-- last update 03/11/2022 ore 17.35 --> */
