@media (max-width: 2000px) {
  .title {
    width: 30%;
  }
}
@media (max-width: 500px) {
  .title {
    width: 100%;
  }
  .menu-section {
    width: 100%;
    margin-left: 0rem;
  }
  .menu-bar {
    font-size: calc(1vw + 1.4rem);
  }
  .title {
    width: 50%;
    height: 50%;
  }
  .subtitle {
    align-self: center;
    font-family: "Birthstone", cursive;
    font-size: calc(1vw + 0.8rem);
    font-weight: 600;
    color: #000;
    padding-left: 1rem;
  }
  .icon-foot {
    font-size: 28px;
  }
}

@media (max-width: 1274px) {
  .menu-section {
    width: 97%;
    margin-left: 1rem;
  }
}
@media (max-width: 900px) {
  .menu-section {
    width: 96%;
    margin-left: 1rem;
  }
}
@media (max-width: 700px) {
  .menu-section {
    width: 95%;
    margin-left: 1rem;
  }
}
@media (max-width: 465px) {
  .menu-section {
    width: 100%;
    margin-left: 0rem;
  }
  .menu-bar {
    font-size: calc(1vw + 1.4rem);
  }
  .title {
    width: 50%;
    height: 50%;
  }
  .subtitle {
    align-self: center;
    font-family: "Birthstone", cursive;
    font-size: calc(1vw + 0.8rem);
    font-weight: 600;
    color: #000;
    padding-left: 1rem;
  }
  .icon-foot {
    font-size: 28px;
  }
  .container {
    grid-template-columns: repeat(2, auto);
    background-color: #f3dabb;
  }
  .vl {
    border-left: 0px solid #343a40;
    height: 0%;
  }
}
@media (max-width: 375px) {
  .menu-section {
    width: 100%;
    margin-left: 0rem;
  }
  .menu-bar {
    font-size: calc(1vw + 1rem);
    padding-left: 0px;
  }
  .title {
    width: 50%;
    height: 50%;
  }
  .subtitle {
    align-self: center;
    font-family: "Birthstone", cursive;
    font-size: calc(1vw + 0.8rem);
    font-weight: 600;
    color: #000;
    padding-left: 1rem;
  }
  .icon-foot {
    font-size: 18px;
  }
}
/* <!-- last update 03/11/2022 ore 17.25 --> */
